<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network defaultCredentials="false" host="Your.SMTP.Server" port="25" 
                 userName="MyAccount" password="ThisIsPassword" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>